*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #FFFF;
  font-size: 10px;
}
.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  background-color: #DEF9FF;
  font-family: sans-serif;
}
h1 {
  padding-top: 10%;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}
h2 {
  padding-left: 10%;
  font-size: 150%;
}
i {
  padding-top: 5%;
  padding-left: 5%;
}
.head h1 {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 5%;
}
.column1, .column2, .column3 {
  float: left;
  width: 33.33%;
  padding: 10px;
  display: inline-block;
}
.row3, .row2 {
  clear: left;
}
.i, .label, .heart {
  display: inline;
}
}
.heart {
padding-left: 100%;
float: right;
}
