*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #FFFF;
  font-size: 10px;
}
.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  background-color: #DEF9FF;
  font-family: sans-serif;
}
h1 {
  padding-top: 10%;
  text-align: center;
  font-size: 170%;
  font-weight: 500;
}
h2 {
  padding-left: 10%;
  font-size: 175%;
}
i {
  padding-top: 5%;
  padding-left: 5%;
}
.head h1 {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 5%;
}
.column1, .column2, .column3 {
  float: left;
  width: 22%;
  padding: 10px;
  display: block;
}
.column2 {
  width: 53%;
}
.column3 {
  width: 20%;
}

.row, .row3, .row2, .row4, .row5, .row6, .row7, .row8 {
  clear: left;
  height: 40px;
}
.row, .row2, .row3, .row4, .row5 {
border-bottom: 1px solid #000000;
}
.i, .label, .heart {
  display: inline;
}
.label {
  font-size: 120%;
}
.heart {
  float: right;
  padding-top: 5%;
  padding-right: 5%;
}
.head {
  padding-top: 5px;
  font-size: 105%;
}
h3 {
  font-size: 140%;
  padding-left: 10%;
}
.feature {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}
.whitebox {
  background-color: white;
}
.header {
  background-color: #3581C8;
  color: white;
  padding-bottom: 30px;
}
