*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #FFFF;
  font-size: 10px;
}
.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  background-color: #DEF9FF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ul li {
  display: inline;
}
h1 {
  padding-top: 8%;
  text-align: center;
  font-size: 170%;
  font-weight: 500;
}
ul {
  padding-left: 0%;
  font-size: 175%;
  margin-top: 5%;
}
i {
  padding-top: 4%;
  padding-bottom: 5%;
  padding-left: 3%;
}
.head_lower h1, .section_head h1 {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 7%;
  padding-top: 7%;
  font-size: 170%;
}
.bus, .destination, .time, .lower_bus, .lower_location, .lower_time {
  float: left;
  width: 22%;
  padding: 10px;
}
.destination, .lower_location {
  width: 53%;
  text-align: center;
}
.time, .lower_time {
  width: 20%;
}
.destination {
  font-size: 80%;
}
.lower_bus {
  text-align: center;
}
.ul_row1, .ul_row2, .ul_row3, .ul_row4, .ul_row5 {
  border-bottom: 1px solid #3581C8;
  padding-left: 0%;
}
.ul_row1, .ul_row2, .ul_row3, .ul_row4, .ul_row5, .ul_row6, .ul_row7, .ul_row8 {
  clear: left;
  height: 60px;
}
.ul_row6, .ul_row7, .ul_row8 {
  font-size: 120%;
  margin-top: 0%;
}
.i, .label, .heart {
  display: inline;
}
.label {
  font-size: 125%;
  padding-bottom: 2px;
  padding-left: 2%;
}
.heart {
  float: right;
  padding-top: 5%;
  padding-right: 5%;
}

.feature {
  padding-left: 0px;
  border: 1px solid;
  text-align: center;

}
.time {
  font-size: 60%;
}
.bold {
  font-size: 100%;
}
.whitebox {
  background-color: white;

}
.header {
  background-color: #3581C8;
  color: white;
  padding-bottom: 30px;
}
